# .envrc - environment file for ease of work in the repo


[[ "${BASH_SOURCE:0:1}" == "/" ]] && FULL_BASH_SOURCE="$BASH_SOURCE" || FULL_BASH_SOURCE="$PWD/$BASH_SOURCE"

# Use the latest bashmod module from the Git repo
export BASH_MODULES_SCRIPT="${FULL_BASH_SOURCE%/*}/bash/functions/bashmod"
# Also use the latest modules
if [[ "$(type -t path)" == "function" ]]
then
    path prepend -ve BASH_MODULES_PATH "${FULL_BASH_SOURCE%/*}/bash/functions"
else
    export BASH_MODULES_PATH="${FULL_BASH_SOURCE%/*}/bash/functions:$BASH_MODULES_PATH"
fi
# And the latest Tcl packages
if [[ "$(type -t path)" == "function" ]]
then
    path prepend -ve TCLLIBPATH "${FULL_BASH_SOURCE%/*}/tcl"
else
    export TCLLIBPATH="${FULL_BASH_SOURCE%/*}/tcl"
fi

unset FULL_BASH_SOURCE

